---
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>About Page</title>
  </head>
  <body>
    <a href='/'>Inicio</a>
    <a href='/about'>Sobre mi</a>
    <a href='/blog'>Blog</a>

    <h1>Mi blog</h1>
    <h2>Hecho con Astro...</h2>

    <p>
      Este es el blog que estoy haciendo con el tutorial oficial de <a
        target='_blank'
        href='https://docs.astro.build/es/tutorial/2-pages/1/'>Astro</a
      >
    </p>
  </body>
</html>
