---
import Layout from '../layouts/layout.astro';
const pageTitle = 'Mi blog de Astro aprendizaje';
---

<Layout title={pageTitle}>
  <h1>{pageTitle}</h1>
  <h2>o algo parecido...</h2>

  <p>Aqui voy a postear todo lo que voy aprendiendo en el tutorial de Astro</p>

  <ul>
    <li><a href='/posts/post-1'>Post 1</a></li>
    <li><a href='/posts/post-2'>Post 2</a></li>
    <li><a href='/posts/post-3'>Post 3</a></li>
  </ul>
</Layout>
