---
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Blog Page</title>
  </head>
  <body>
    <a href='/'>Inicio</a>
    <a href='/about'>About</a>
    <a href='/blog'>Blog</a>

    <h1>Esta es mi pagina de blog</h1>
    <h2>o algo parecido...</h2>

    <p>
      Aqui voy a postear todo lo que voy aprendiendo en el tutorial de Astro
    </p>
  </body>
</html>
